html,
body,
header,
#landing {
    height: 100%;
}

#landing {
    background: url("../images/pokeman_battle_landing_image.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btn-container {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 80vh 10vh 10vh;
}

#home {
    background: url("../images/pokeman_battle_home_image.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-container {
    height: 100vh;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-rows: 10vh 40vh auto;
}

#home-btn-container {
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
}

#rule {
    background: url("../images/pokeman_battle_rule_image.gif")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rule-container {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    /* grid-template-rows: 10vh 40vh auto; */
}

#rule-btn-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

#play {
    background: url("../images/pokeman_battle_play_image.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#play-container {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 5vh auto 20vh;
}

#card-unit-1 {
    background: url("../images/fire_background.gif")no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid white;
}

.card-piece {
    min-height: 50vh;
}

.image-container {
    width: 90%;
    height: 40vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.figure {
    width: 90%;
    align-self: center;
}

.card-height {
    height: 27vh;
}

#card-unit-2 {
    background: url("../images/water_background.gif")no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid white;
}

#card-unit-3 {
    background: url("../images/poison_background.gif")no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid white;
}

#battle {
    background: url("../images/battle_background.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#battle-container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    /* justify-items: center;
    align-items: center; */
    grid-template-rows: 10vh 10vh auto; 

}

#home-icon {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 8% 92%;
}

.img-responsive {
    width: 100%;
}

#user-background {
    transform: scaleX(-1);
}

#user-background {
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#computer-background {
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
